:root {
    --branding-color: #6c63ff;
    --secondary-color: #F9F7FE;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font-family);
font-weight: bold;
}

h1 {
font-size: 96px;
}

h2 {
font-size: 64px;
}


p {
font-family: var(--default-font-family);
font-weight: normal;
font-size: 16px;
line-height: 30px;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}


.hero p {
font-size: 36px;
font-family: var(--default-font-family);
font-weight: bold;
margin: 0px; 
color: #271242;
}

.hero h2 {
font-family: var(--default-font-family);
font-weight: normal;
line-height: 1.5;
font-size: 24px
}

.btn-branding {
background-color: var(--branding-color);
border-radius: 4px;
color: white;
line-height: 27px;
font-size: 18px;
padding: 15px 30px;
}

.btn-branding-outline {
border: 1px solid var(--branding-color);
border-radius: 4px;
color: var(--branding-color);
line-height: 27px;
font-size: 18px;
padding: 15px 30px;
text-decoration: none;
}

.project-description {
    padding: 120px 60px;
}

@media (max-width: 900px) {
 h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
}

.hero {
    padding: 80px 20px;
}

.project-description {
    padding: 0px;
    text-align: center;
}
}